.Artists-container {
  height: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px !important;
  display: flex;
  overflow: hidden;
}

.Artists-mainContent {
  min-height: 100%;
  flex: 1;
  overflow: hidden;
  padding: 2%;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
  
}

.Artists-navBar {
  width: 20%;
}

.Artists-pArtistAndNowPlayingContainer {
  min-height: 100%;
  display: flex;
}

.Artists-profileBarAndList{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.Artists-profileBar {
  width: 100%;
  min-height: 3em;
  display: flex;
  height: 10%;
  align-items: center;
  gap: 5%;
}

.Artists-searchBtnContainer img {
  height: 1.3em;
}

.Artists-profileBar input {
    height: 1em;
    width: 20em;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.Artists-artistTitle {
  margin-left: 2%;
  font-weight: 600;
}

.Artists-songTitle {
  margin-left: 30%;
}

.Artists-playingContainer {
  height: max-content;
  padding: 2%;
  padding-bottom: 5%;
  width: 30%;
  margin-right: 1%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5%;
  background-color: rgba(205, 205, 205, 0.449);
  align-self: center;
}

.Artists-nowImage {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 2%;
}

.Artists-nowImage p {
  margin-top: 5%;
  margin-left: 5%;
  font-weight: 600;
}

.Artists-nowImageContainer {
  margin: 2%;
}

.Artists-nowImageContainer img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: none;
  overflow: hidden;
}

.Artists-nowPlayingContainer {
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.Artists-playingTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  border-bottom: 2px solid rgb(190, 186, 186);
}

.Artists-playingSongName {
  font-weight: 600;
  font-size: 1.2em;
}

.Artists-playingArtistName {
  font-weight: 300;
}

.Artists-nowPlayingContainer img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: none;
  border-radius: 10%;
}

.Artists-audioBar {
  margin-top: 20%;
  width: 100%;
}

.Artists-SongList{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x:hidden;
  gap: 5%;
}

.Artists-SongList::-webkit-scrollbar{
  display: none;
}

.Artists-songCard{
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  border-bottom: 3px solid rgb(219, 219, 219);
  cursor: pointer;
}

.Artists-songCard:hover{
  scale: 1.02;
  transition: all 0.2s ease-in-out;
}

.Artists-songDetails {
  width: 100%;
  display: flex;
  gap: 10%;
  align-self: flex-end;
  padding-left: 5%;
  justify-content: space-between;
}

.Artists-artistName{
  font-weight: 700;
  font-size: 1em;

}

.Artists-songImage {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: none;
  border-radius: 10%;
}