

.container {
  height: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px !important;
  display: flex;
  overflow: hidden;
  
}

.mainContent {
  min-height: 100%;
  flex: 1;
  overflow: hidden;
  padding: 2%;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
  justify-content: space-between;
  
}

.navBar {
  width: 20%;
}

.pArtistAndNowPlayingContainer {

  min-height: 100%;
  display: flex;
}

.profileBar {
  min-width: 100%;
  min-height: 3em;
  display: flex;
  align-items: center;

  margin-bottom: 4%;
  margin-left: 0%;
}

.searchBtnContainer {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
}

.searchBtnContainer img {
  height: 1.3em;
}

.profileIconContainer {
  display: flex;
  gap: 30%;
  width: 5%;
  text-wrap: nowrap;
  cursor: pointer;
  align-items: center;
}

.profileIconContainer p{
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.profileIconContainer img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  border: none;
}

.settingsIconContainer {
  position: absolute;
  right: 7%;
  display: flex;
  align-items: center;
}

.settingsIconContainer img {
  height: 1.4em;
}

.pArtistandRecentlyContainer {
  min-height: 100%;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.pArtist {
  display: flex;
  flex-direction: column;
  min-height: 50%;
}

.titleCont {

  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.pTitle,
.seeAll {
  
  font-size: large;
  font-weight: 600;
}

.seeAll {
  background-color: rgba(0, 0, 0, 0.711);
  color: rgb(245, 245, 245);
  padding: 0.5% 2%; 
  border-radius: 999px; 
  border: none;
  display: inline-block; 
  font-size: 1rem; 
  cursor: pointer;
  z-index: 2;
  margin-right: 1%;
  margin-top: 1%;
 
}

.seeAll:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.4s ease;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.artistList {
  min-height: 70%;
  display: flex;
  justify-content: flex-start;
}

.pArtistCardClass {
  margin-right: 2%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff; 
  border-radius: 10px;    
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  justify-content: center;
  cursor: pointer;
}

.pArtistCardClass:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.pArtistCardImgClass {
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  border: none;
  border-radius: 50%; 
  overflow: hidden;
}
.recentlyPlayed {
  flex: 1;
  margin-top: 1%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.historyContainer {
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}

.historyList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  z-index: 2;
}

.historyList::-webkit-scrollbar{
 display: none;
}

.historySongCard {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0.236);
  background-color: #f7f8fc3e;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  margin: 1% 0% 1% 0%;
  cursor: pointer;
  z-index: 3;
  padding-left: 2%;
}



.historySongCard:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.hSongCardImg {
  width: 8%;
}

.historySongCard img {
   width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  border: none;
  border-radius: 50%; 
  overflow: hidden;
}

.artistTitle {
  margin-left: 2%;
  font-weight: 600;
}

.songTitle {
  margin-left: 30%;
}

.playingContainer{
  height: max-content;
  padding:2%;
  padding-bottom: 5%;
  width: 100%;
  margin-right: 1%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  border:none;
  border-radius: 5%;
  background-color: rgba(205, 205, 205, 0.449);
}

.nowImage{
  height: 10%;
  display: flex;
  align-items: center;
  padding: 2%;
}

.nowImage p{
  margin-top: 5%;
  margin-left: 5%;
  font-weight: 600;
}

.nowImageContainer{
  
  margin: 2%;
}

.nowImageContainer img{
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover; 
  border: none;
  
  overflow: hidden;
}

.nowPlayingContainer{
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  
}

.playingTitleContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  border-bottom: 2px solid rgb(190, 186, 186);
}

.playingSongName{
    font-weight: 600;
    font-size: 1.2em;
}
.playingArtistName{
  font-weight: 300;

}

.nowPlayingContainer img{
  
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: none;
  border-radius: 10%;
}

.audioBar{
  margin-top: 20%;
  width: 100%;

}